body{
	background-color: Ivory;
	font-family: georgia;
}

h1 {
	font-weight: bold;
	text-decoration: underline;
}

table {
	table-layout: fixed;
	width: 80%;
}

/* Source: https://www.w3schools.com/css/css_navbar_horizontal.asp */

.hbarre {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: BurlyWood;
	display: flex;
	justify-content: center;
	border: 3px solid;
}
			
.hbarrelien {
	display: block;
	color: black;
	padding: 18px 16px;
	text-decoration: none;
}

.hbarrelien:hover {
	background-color: saddlebrown;
	color: white;
}